.advantages {
  @include flex-column;
  align-items: center;
  padding: 120px calc(var(--border-gap) - 10px);
  padding-bottom: 80px;

  background-color: $advantages-bg-color;
  background-image: url("../img/bg-advantages-desktop@1x.png");

  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-advantages-desktop@2x.png");
  }
}

.advantages h3 {
  @include reset-space;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  margin-top: -8px;
  margin-bottom: 47px;
}

.advantages__list {
  @include clear-list;
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;

  max-width: 100%;
}

.advantages__item {
  @include flex-column;

  background-color: $text-color-light;

  --margin-gap: calc((100vw - var(--gap) * 2) - (360px * 3));
  --item-width: calc(((100vw - var(--gap) * 2) - 80px) / 3);

  width: clamp(206px, var(--item-width), 360px);
  min-width: 206px;
  max-width: 360px;

  min-height: 241px;

  margin-right: calc(clamp(30px, var(--margin-gap), 40px));
  margin-bottom: 40px;

  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 25px;
}

.advantages__item:last-child,
.advantages__item:nth-child(3n) {
  margin-right: 0;
}

// .advantages__item:last-child {
//   margin-right: auto;
// }


.advantages__icon-wrapper {
  @include flex-column;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 20px;
  min-height: 32px;
}

.advantages__item h4 {
  @include reset-space;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 8px;
}

.advantages__item p {
  @include reset-space;
  font-size: 14px;
  line-height: 20px;

  max-width: 288px;
}

@media (max-width: $tablet-width-only) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 60px;

    background-image: url("../img/bg-advantages-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-advantages-tablet@2x.png");
    }
  }

  .advantages h3 {
    max-width: 50%;

    font-size: 26px;
    line-height: 39px;

    margin-bottom: 47px;
  }

  .advantages__item {
    width: 206px;
    height: 310px;

    margin-right: 30px;

    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .advantages__item h4 {
    line-height: 25px;

    margin-bottom: 8px;
  }

  .advantages__icon-wrapper {
    min-height: 26px;
    margin-left: -3px;
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages {
    @include flex-column;
    padding-top: 65px;
    padding-bottom: 34px;

    background-image: url("../img/bg-advantages-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-advantages-mobile@2x.png");
    }
  }

  .advantages h3 {
    max-width: 280px;
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 30px;
  }

  .advantages__list {
    @include flex-column;
  }

  .advantages__item {
    max-width: calc(max(290px, 80%));
    width: 290px;
    min-height: 249px;
    height: 250px;

    margin-right: 0;
    margin-bottom: 30px;

    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .advantages__item h4 {
    max-width: 70%;
  }
}
