.contacts {
  @include flex-row;
  justify-content: space-between;
  padding: 120px calc(((100vw - var(--width)) / 2) + var(--gap));
  padding-bottom: 113px;
}

.contacts__map {
  align-self: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 74px;
    left: 249px;

    width: 18px;
    height: 22px;

    background-image: url("../../img/icon-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__map img {
  width: 560px;
  height: 306px;
}

.contacts__info {
  @include flex-column;
  justify-content: flex-start;

  max-width: 500px;
  margin-top: 76px;
}

.contacts__info p {
  @include reset-space;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 31px;
}

.contacts__link {
  @include montserrat-font;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;

  text-decoration: none;

  position: relative;

  margin-bottom: 21px;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    min-height: 18px;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__link--phone,
.contacts__link--adress {
  background-repeat: no-repeat;
}

.contacts__link--adress {
  &::before {
    background-image: url("../../img/icon-pin.svg");
    height: 22px;
  }
}

.contacts__link--phone {
  &::before {
    top: 2px;
    background-image: url("../../img/icon-phone.svg");
  }
}

@media (max-width: $tablet-width-only) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 93px;
  }

  .contacts__map {
    &::before {
      bottom: 102px;
      left: 109px;
    }
  }

  .contacts__map img {
    object-fit: cover;
    width: 324px;
    height: 335px;
  }

  .contacts__info {
    max-width: 324px;
    margin-top: 67px;
  }

  .contacts__info p {
    margin-bottom: 26px;
  }

  .contacts__link {
    max-width: 283px;
    margin-bottom: 21px;
  }

  .contacts__link--adress {
    @include flex-column;

    &::before {
      top: 5px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    @include flex-column;
    padding-top: 59px;
    padding-bottom: 58px;
  }

  .contacts__info {
    order: -1;
    max-width: 324px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .contacts__info p {
    max-width: 286px;
  }

  .contacts__map {
    &::before {
      bottom: 77px;
      left: 112px;
    }
  }

  .contacts__map img {
    width: 290px;
    height: 316px;
  }
}
