.feedback {
  @include flex-row;
  justify-content: space-between;

  padding: 50px var(--border-gap);

  background-color: $feedback-bg-color;
  background-image: url("../img/bg-feedback-desktop@1x.png");

  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-feedback-desktop@2x.png");
  }
}

.feedback__promo-wrapper {
  align-self: center;
  margin-bottom: 4px;
  margin-left: 60px;
  margin-right: 20px;
}

.feedback__promo-wrapper h3 {
  @include reset-space;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  margin-bottom: 7px;
}

.feedback__promo-wrapper p {
  @include reset-space;
  font-size: 18px;
  line-height: 27px;

  max-width: 352px;
}

@media (min-width: $desktop-width-only) {
  .feedback__promo-wrapper p {
    @include flex-column;
  }
}

.feedback__form-wrapper {
  background-color: $text-color;
  width: 403px;
  min-height: 455px;

  margin-right: 60px;

  color: $text-color-light;

  box-shadow: 0 4px 45px rgba($text-color, 0.15);
}

.feedback__form-wrapper p {
  @include reset-space;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 26px;
}

.feedback__form {
  @include flex-column;
  justify-content: space-between;
  padding: 50px;
  padding-top: 45px;
}

.feedback__inputs-wrapper {
  @include flex-column;
  margin-bottom: 30px;
}

.feedback__inputs-wrapper input {
  @include montserrat-font;
  width: 303px;
  height: 43px;

  color: $black;

  border: none;
  border-radius: 0;
  background-color: $text-color-light;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 4px;

  &::placeholder {
    color: $text-color;
    font-size: 14px;
    line-height: 21px;
  }

  &:hover {
    opacity: 0.75;
  }

  &:focus {
    outline: 2px solid $text-color-light;
  }
}

.feedback__checkbox-wrapper {
  @include flex-row;
}

.feedback__checkbox-wrapper input {
  display: none;
}

.feedback__checkbox-wrapper input:checked + .feedback__pseudo-checkbox {
  background-image: url("../img/icon-tick-small.svg");
  background-size: 12px 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback__checkbox-wrapper input:invalid + .feedback__pseudo-checkbox {
  position: relative;

  &::before {
    content: "Необходимо заполнить это поле";
    position: absolute;
    top: 29px;
    left: 10px;

    min-width: 290px;
    max-width: 320px;

    background-color: $text-color-light;

    outline: 2px solid red;

    @include montserrat-font;
    color: $text-color;
    font-size: 14px;
    line-height: 21px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 8px;

    background-color: $text-color-light;
    width: 10px;
    height: 10px;

    border: 2px solid red;
    border-top-right-radius: 100%;
  }
}

.feedback__checkbox-wrapper label {
  @include flex-row;
  justify-content: space-between;

  font-size: 10px;
  line-height: 13px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.feedback__pseudo-checkbox {
  @include flex-column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  position: relative;

  background-color: $text-color-light;
  width: 18px;
  height: 18px;

  margin-right: 5px;
}


@media (min-width: $desktop-width-only) {
  .feedback__checkbox-wrapper span:not(.feedback__pseudo-checkbox) {
    margin-top: 4px;
  }
}

.feedback__form-btn {
  @include montserrat-font;
  border: none;
  appearance: none;
  background-color: $text-color-light;

  cursor: pointer;

  text-align: center;

  color: $text-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  min-height: 43px;

  padding-top: 3px;

  margin-top: auto;
  margin-bottom: 0;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width-only) {
  .feedback {
    @include flex-column;
    align-items: center;

    padding-top: 90px;
    padding-bottom: 100px;

    background-image: url("../img/bg-feedback-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-feedback-tablet@2x.png");
    }
  }

  .feedback__promo-wrapper {
    @include flex-column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 51px;
  }

  .feedback__promo-wrapper h3 {
    text-align: center;
    font-size: 34px;
    line-height: 51px;

    margin-bottom: 4px;
  }

  .feedback__promo-wrapper p {
    text-align: center;
  }

  @media (min-width: $mobile-width-only) {
    .feedback__promo-wrapper p {
      @include flex-column;
    }
  }

  .feedback__form-wrapper {
    margin-right: 0;
  }

  @media (min-width: $mobile-width-only) {
    .feedback__checkbox-wrapper span:not(.feedback__pseudo-checkbox) {
      margin-top: 5px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .feedback {
    padding: 0 var(--inverted-border-gap);
    padding-top: 61px;
    padding-bottom: 65px;

    background-image: url("../img/bg-feedback-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-feedback-mobile@2x.png");
    }
  }

  .feedback__promo-wrapper {
    margin-bottom: 33px;
  }

  .feedback__promo-wrapper h3 {
    font-size: 24px;
    line-height: 31px;

    margin-bottom: 13px;
  }

  .feedback__promo-wrapper p {
    max-width: 257px;
    margin-left: 0;

    font-size: 16px;
    line-height: 22px;
  }

  .feedback__form-wrapper {
    min-width: 290px;
    width: auto;
    max-width: 460px;
    height: 460px;
  }

  .feedback__form-wrapper p {
    text-align: center;
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 28px;
  }

  .feedback__form {
    padding: 30px;
    padding-top: 35px;
  }

  .feedback__inputs-wrapper {
    margin-bottom: 27px;
  }

  .feedback__inputs-wrapper input {
    min-width: 230px;
    width: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 4px;

    &::placeholder {
      color: $text-color;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .feedback__checkbox-wrapper span:not(.feedback__pseudo-checkbox) {
    line-height: 12px;
    max-width: 157px;
    margin-top: -1px;
  }

  .feedback__pseudo-checkbox {
    width: 20px;
    height: 20px;

    margin-right: 8px;
  }
}
