.main-footer {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $text-color;
  color: $white;

  min-height: var(--footer-min-height);
  width: 100%;
  max-width: 100%;

  padding-top: 43px;

  margin-top: auto;
  margin-bottom: 0;

  position: absolute;
  bottom: 0;
}

@media (max-width: $tablet-width-only) {
  .main-footer {
    @include container;
  }
}

@media (max-width: $mobile-width-only) {
  .main-footer {
    @include container;
  }
}
