.main-screen {
  @include flex-column;
  justify-content: flex-start;

  padding-top: var(--header-min-height);

  min-height: 650px;

  background-color: $main-screen-bg-color;
  background-image: url("../img/bg-main-screen-desktop@1x.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-screen-desktop@2x.png");
  }
}

.main-screen__wrapper {
  @include flex-column;
  justify-content: flex-start;

  color: $text-color-light;

  margin-top: 165px;

  margin-left: calc(var(--border-gap) + 95px);
}

.main-screen h2 {
  @include reset-space;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;

  margin-bottom: 10px;
}

.main-screen p {
  @include reset-space;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

@media (max-width: $tablet-width-only) {
  .main-screen {
    min-height: 638px;
    background-image: url("../img/bg-main-screen-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-screen-tablet@2x.png");
    }
  }

  .main-screen__wrapper {
    margin-left: calc(var(--border-gap));
    margin-top: 191px;
  }

  .main-screen h2 {
    font-size: 50px;
    line-height: 61px;
  }

  .main-screen p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-screen {
    min-height: 500px;
    background-image: url("../img/bg-main-screen-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-screen-mobile@2x.png");
    }
  }

  .main-screen__wrapper {
    margin-left: calc(var(--border-gap));
    margin-top: 116px;
  }

  .main-screen h2 {
    @include flex-column;

    font-size: 36px;
    line-height: 45px;

    max-width: 270px;
  }

  .main-screen p {
    font-size: 16px;
    line-height: 22px;

    max-width: 205px;
  }
}

@supports not ((initial-letter: 4) or (-webkit-initial-letter: 4)) {
  @media (min-width: $desktop-width-only) {
    .main-screen {
      @media screen {
        background-image: url("../img/bg-main-screen-desktop@1x.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-main-screen-desktop@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-width-only) {
    .main-screen {
      @media screen {
        background-image: url("../img/bg-main-screen-tablet@1x.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-main-screen-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    .main-screen {
      @media screen {
        background-image: url("../img/bg-main-screen-mobile@1x.webp");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-main-screen-mobile@2x.webp");
      }
    }
  }
}
