body {
  @include reset-space;
  background-color: $white;

  @include page-main-font;

  color: $text-color;

  min-width: $mobile-size;
  max-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;

  position: relative;

  --width: 1366px;
  --gap: 103px;
  --header-min-height: 108px;
  --footer-min-height: 138px;

  @media (max-width: $tablet-width-only) {
    --width: 768px;
    --gap: 45px;
    --header-min-height: 80px;
    --footer-min-height: 120px;
  }

  @media (max-width: $mobile-width-only) {
    --width: 320px;
    --gap: 15px;
    --header-min-height: 62px;
    --footer-min-height: 283px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
