body {
  @include reset-space;
  background-color: $white;

  @include page-main-font;

  color: $text-color;

  min-width: $mobile-size;
  max-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;

  position: relative;

  z-index: 1;

  --width: 1366px;
  --gap: 103px;
  --header-min-height: 108px;
  --footer-min-height: 138px;

  --current-page-padding: calc(((100vw - var(--width)) / 2) + var(--gap));
  --border-gap: calc(max(var(--current-page-padding), var(--gap)));
  --inverted-border-gap: calc(min(var(--current-page-padding), var(--gap)));

  @media (max-width: $tablet-width-only) {
    --width: 768px;
    --gap: 45px;
    --header-min-height: 80px;
    --footer-min-height: 120px;
  }

  @media (max-width: $mobile-width-only) {
    --width: 320px;
    --gap: 15px;
    --header-min-height: 62px;
    --footer-min-height: 283px;

    --mobile-max: 460px;
    --adaptive-gap: calc(((100vw - var(--mobile-max)) / 2) + var(--gap));
    --current-gap: calc(max(var(--adaptive-gap), var(--gap)));
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.5);

    z-index: 3;
  }
}
